<mat-toolbar>
    <mat-menu-button></mat-menu-button>

    <label for="apps">
        Apps
    </label>

    <search placeholder="Filter apps.."></search>

    <button mat-icon-button (click)="OpenFilter()">
        <mat-icon>
            filter_list
        </mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content>
    <mat-chip-list class="filterbar" *ngIf="filter.private.length > 0">
        <mat-chip *ngFor="let id of filter.private" (removed)="unfilter('private', id)">
            <mat-icon>
                {{ id ? 'vpn_lock' : 'public' }}
            </mat-icon>

            <mat-label>
                {{ id ? 'Private' : 'Public' }}
            </mat-label>

            <mat-icon matChipRemove>
                cancel
            </mat-icon>
        </mat-chip>
    </mat-chip-list>

    <table mat-table [dataSource]="apps" fxShow fxHide.xs="true" matSort>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef>
                Icon
            </th>
            <td mat-cell *matCellDef="let element">
                <img [src]="element.icon" [alt]="element.name" width="40" height="40" draggable="false">
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Name
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="private">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Access Mode
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.private ? 'Private' : 'Public' }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['icon', 'name', 'private']; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['icon', 'name', 'private'];" (click)="options(row)"></tr>
    </table>

    <mat-list fxHide fxShow.xs="true">
        <mat-list-item lines="full" *ngFor="let element of apps.data" (click)="options(element)" matRipple>
            <img slot="start" [src]="element.icon" [alt]="element.name" width="40" height="40" draggable="false">

            <mat-label>
                <h3>
                    {{ element.name }}
                </h3>
            </mat-label>
        </mat-list-item>
    </mat-list>
</mat-content>

<button mat-fab class="add-floating-button" color="primary" routerLink="editor" [queryParams]="{ mode: 'add' }">
    <mat-icon>
        add
    </mat-icon>
</button>