<h1>Terms & Conditions</h1>

<h2>Limitation of Liability</h2>

<p>
    IN NO EVENT SHALL FS-SYSTEMS OR ITS AFFILIATES OR SUPPLIERS BE LIABLE FOR ANY DAMAGES WHATSOEVER, INCLUDING, WITHOUT LIMITATION, INCIDENTAL, DIRECT, INDIRECT, SPECIAL, AND CONSEQUENTIAL DAMAGES, DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR OTHER PECUNIARY LOSS ARISING OUT OF THE USE OR INABILITY TO USE THE SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND NOTWITHSTANDING FAULT, NEGLIGENCE, AND THE FAILURE OF THE ESSENTIAL PURPOSE.
</p>

<h2>Acceptance of Terms</h2>

<p>
    By downloading or using the app, these terms automatically apply to you. It is essential to read them carefully before using the app. You are not allowed to copy, modify the app, or our trademarks in any way. You are also prohibited from attempting to extract the source code of the app, translating the app into other languages, or making derivative versions. The app and all related trademarks, copyrights, database rights, and other intellectual property rights remain the property of FS-Systems.    
</p>

<h2>Changes to the App</h2>

<p>
    FS-Systems is committed to ensuring the app's usefulness and efficiency. Therefore, we reserve the right to make changes to the app or to charge for its services at any time and for any reason. We will always make it clear to you what you are paying for before charging you for the app or its services.    
</p>

<h2>Personal Data and Security</h2>

<p>
    The FS-Systems Open Source IoT Platform app stores and processes personal data that you have provided to us to provide our Service. It is your responsibility to keep your phone and access to the app secure. We recommend that you do not jailbreak or root your phone, as it may compromise your phone's security and the app's functionality.    
</p>

<h2>Third-Party Services</h2>

<p>
    The app uses third-party services that have their own Terms and Conditions. Links to the Terms and Conditions of third-party service providers used by the app are provided, and you should review them.
    Flowgear - https://www.flowgear.net/terms-and-conditions/    
</p>

<h2>Internet Connection and Data Charges</h2>

<p>
    Certain app functions require an active internet connection. FS-Systems is not responsible for the app's full functionality if you lack access to Wi-Fi or have exhausted your data allowance. You may be charged by your mobile provider for data or other third-party charges. By using the app, you accept responsibility for such charges, including roaming data charges if applicable.    
</p>

<h2>Device Maintenance</h2>

<p>
    You are responsible for ensuring your device stays charged. FS-Systems cannot accept responsibility if your device runs out of battery and you cannot access the Service.    
</p>

<h2>Reliance on Third-Party Information</h2>

<p>
    While we strive to ensure the app is updated and correct, we rely on third parties for information. FS-Systems accepts no liability for any direct or indirect loss resulting from relying solely on the app's functionality.    
</p>

<h2>App Updates and Termination</h2>

<p>
    We may update the app, and you must accept updates to continue using it. We may also terminate the app's use at any time without notice. Upon termination, the rights and licenses granted to you will end, and you must stop using and, if necessary, delete the app from your device.    
</p>

<h2>Changes to Terms & Conditions</h2>

<p>
    We may update our Terms & Conditions from time to time. You are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Terms & Conditions on this page.
    These terms and conditions are effective as of November 1, 2023.    
</p>

<h2>Contact Us</h2>

<p>
    If you have any questions or suggestions about our Terms & Conditions, please do not hesitate to contact support.    
</p>