<mat-toolbar>
    <mat-back-button></mat-back-button>

    <label for="feature editor">
        {{ mode == 'add' ? 'Create Feature' : '' }}
        {{ mode == 'copy' ? 'Copy Feature' : '' }}
        {{ mode == 'update' ? 'Edit Feature' : '' }}
    </label>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content fxLayout="row" fxLayoutAlign="center flex-start">
    <form fxFlex="60" fxFlex.lg="70" fxFlex.md="80" fxFlex.sm="90" fxFlex.xs="100" [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                App
            </mat-label>

            <mat-select name="appId" placeholder="appId" formControlName="appId" required>
                <mat-option>
                    <ngx-mat-select-search #filter placeholderLabel="Filter apps..." noEntriesFoundLabel="There are no apps matching your query!"></ngx-mat-select-search>
                </mat-option>

                <mat-option *ngFor="let app of apps.data | orderBy : 'name' | filterBy : { name: filter.value }" [value]="app.appId">
                    {{ app.name }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.appId">
                {{ errors.appId }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Title
            </mat-label>

            <input matInput type="text" name="title" placeholder="title" formControlName="title" required>

            <mat-error *ngIf="errors.title">
                {{ errors.title }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Description
            </mat-label>

            <input matInput type="text" name="description" placeholder="description" formControlName="description"
                required>

            <mat-error *ngIf="errors.description">
                {{ errors.description }}
            </mat-error>
        </mat-form-field>

        <button #button type="submit" style="display: none;"></button>
    </form>
</mat-content>

<mat-footer>
    <button type="button" mat-flat-button color="primary" (click)="button.click()">
        Submit
    </button>
</mat-footer>