mat-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        font-size: 12px;
        text-align: justify;
        line-height: 12px;
        margin-bottom: 15px;
    }
    h1 {
        margin-top: 20px;
    }
    form {
        max-width: 400px;
        margin-top: 20px;
    }
}
