<mat-toolbar>
    <mat-menu-button></mat-menu-button>

    <label for="groups">
        Groups
    </label>

    <search placeholder="Filter groups.."></search>

    <button mat-icon-button (click)="OpenFilter()">
        <mat-icon>
            filter_list
        </mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content>
    <mat-chip-list class="filterbar" *ngIf="filter.appId.length > 0">
        <mat-chip *ngFor="let id of filter.appId" (removed)="unfilter('appId', id)">
            <mat-icon>
                apps
            </mat-icon>

            <mat-label>
                {{ apps.data | describe : 'appId' : id : 'name' }}
            </mat-label>

            <mat-icon matChipRemove>
                cancel
            </mat-icon>
        </mat-chip>
    </mat-chip-list>

    <table mat-table [dataSource]="groups" fxShow fxHide.xs="true" matSort>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Description
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.description }}
            </td>
        </ng-container>

        <ng-container matColumnDef="appId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                App(s)
            </th>
            <td mat-cell *matCellDef="let element">
                <span class="app-item" *ngFor="let id of element.appId">
                    {{ apps.data | describe : 'appId' : id : 'name' }}
                </span>

                <span *ngIf="element.appId?.length == 0">
                    ALL
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['description', 'appId']; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['description', 'appId'];" (click)="options(row)"></tr>
    </table>

    <mat-list fxHide fxShow.xs="true">
        <mat-list-item lines="full" *ngFor="let element of groups.data" (click)="options(element)" matRipple>
            <mat-label>
                <h3>
                    {{ element.description }}
                </h3>
            </mat-label>
        </mat-list-item>
    </mat-list>
</mat-content>

<button mat-fab class="add-floating-button" color="primary" routerLink="editor" [queryParams]="{ mode: 'add' }">
    <mat-icon>
        add
    </mat-icon>
</button>