<mat-toolbar color="primary">
    <div class="page-label spacer">
        token viewer
    </div>

    <button mat-icon-button routerLink="/tokens">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>

<div class="page-body" *ngIf="token">
    <div class="card">
        <label>
            app
        </label>

        <img [src]="token.app.icon" alt="app icon"> {{ token.app.name }} (ID: {{ token.app.appId }})
    </div>

    <div class="card">
        <label>
            device
        </label>

        {{ token.device }}
    </div>

    <div class="card">
        <label>
            expiry
        </label>

        {{ token.expiry | date : 'yyyy/MM/dd HH:mm:ss' }}
    </div>

    <div class="card">
        <label>
            scopes
        </label>

        <table>
            <tr *ngFor="let scope of token.scopes | orderBy : 'url'">
                <td>
                    {{ scope.url }}
                </td>
                <td>
                    {{ GetRoleTitle(scope.role) }}
                </td>
            </tr>
        </table>
    </div>
</div>