<mat-toolbar>
    <mat-back-button></mat-back-button>

    <label for="view token">
        View Token
    </label>
</mat-toolbar>

<mat-content fxLayout="row" fxLayoutAlign="center flex-start">
    <mat-list fxFlex="60" fxFlex.lg="70" fxFlex.md="80" fxFlex.sm="90" fxFlex.xs="100">
        <div mat-subheader>
            App
        </div>

        <mat-list-item class="details" lines="full">
            <img slot="start" [src]="token.app.icon" [alt]="token.app.name" width="48" height="48" draggable="false" *ngIf="token.app.icon">

            <mat-label class="spacer">
                <h3>
                    {{ token.app.name }}
                </h3>
                <p>
                    ID: {{ token.appId }}
                </p>
            </mat-label>
        </mat-list-item>

        <div mat-subheader>
            Device
        </div>

        <mat-list-item lines="full">
            <mat-label class="spacer">
                <p>
                    {{ token.device }}
                </p>
            </mat-label>
        </mat-list-item>

        <div mat-subheader>
            Expiry
        </div>

        <mat-list-item lines="full">
            <mat-label class="spacer">
                <p>
                    {{ token.token.expiry | date : 'yyyy/MM/dd HH:mm' }}
                </p>
            </mat-label>
        </mat-list-item>

        <div mat-subheader>
            Scopes
        </div>

        <mat-list-item *ngFor="let scope of token.token.scopes">
            <mat-label class="spacer">
                <p>
                    {{ scope }}
                </p>
            </mat-label>
        </mat-list-item>
    </mat-list>
</mat-content>