.card {
    width:          400px;
    margin:         15px auto;
    border:         1px solid #E0E0E0;
    padding:        10px 16px;
    display:        flex;
    position:       relative;
    min-height:     46px;
    align-items:    center;
    border-radius:  4px;
    label {
        top:                -6px;
        left:               5px;
        color:              #616161;
        padding:            0px 5px;
        z-index:            1;
        position:           absolute;
        font-size:          12px;
        line-height:        12px;
        text-transform:     uppercase;
        background-color:   #FAFAFA;
    }
    img {
        max-width:      30px;
        max-height:     30px;
        margin-right:   15px;
    }
}
@media screen and (max-width: 420px) {
    .card {
        flex:   1 auto;
        width:  auto;
        margin: 15px 5px;
    }
};