<mat-toolbar color="primary">
    <div class="page-label spacer">
        {{ mode == 'add' ? 'add scope' : '' }}
        {{ mode == 'copy' ? 'copy scope' : '' }}
        {{ mode == 'update' ? 'update scope' : '' }}
    </div>

    <button mat-icon-button routerLink="/scopes">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>

<form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
    <mat-form-field appearance="outline">
        <mat-label text-uppercase>
            description
        </mat-label>
        
        <input matInput type="text" name="description" placeholder="description" formControlName="description" required>

        <mat-error *ngIf="errors.description">
            {{ errors.description }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label text-uppercase>
            url
        </mat-label>
        
        <input matInput type="url" name="url" placeholder="url" formControlName="url" required>

        <mat-error *ngIf="errors.url">
            {{ errors.url }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label text-uppercase>
            app
        </mat-label>
        
        <mat-select name="appId" placeholder="app" formControlName="appId" required>
            <mat-option *ngFor="let app of apps | orderBy : 'name'" [value]="app.appId">
                {{ app.name }}
            </mat-option>
        </mat-select>

        <mat-error *ngIf="errors.appId">
            {{ errors.appId }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label text-uppercase>
            roles
        </mat-label>
        
        <mat-select name="roles" placeholder="roles" formControlName="roles" required multiple>
            <mat-option *ngFor="let role of roles" [value]="role.value">
                {{ role.title }}
            </mat-option>
        </mat-select>

        <mat-error *ngIf="errors.roles">
            {{ errors.roles }}
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">
        submit
    </button>
</form>