h1 {
    margin:         0px 16px;
    font-size:      16px;
    text-transform: uppercase;
}
ul {
    margin:     0px;
    padding:    0px;
    li {
        color:              #424242;
        cursor:             pointer;
        height:             50px;
        display:            flex;
        align-items:        center;
        border-bottom:      1px solid #F5F5F5;
        flex-direction:     row;
        list-style-type:    none;
        mat-icon {
            color:  #424242;
            margin: 0px 15px;
        }
    }
    li.disabled {
        color:  #9E9E9E;
        mat-icon {
            color:  #9E9E9E;
        }
    }
    li:last-child {
        border-bottom: none;
    }
}