<mat-content fxLayout="row">
    <mat-list fxFlex="50" fxFlexOffset="25" fxFlex.lg="70" fxFlexOffset.lg="15" fxFlex.md="80" fxFlexOffset.md="10" fxFlex.sm="90" fxFlexOffset.sm="5" fxFlex.xs="100" fxFlexOffset.xs="0">
        <div mat-subheader>
            App
        </div>

        <mat-list-item lines="full">
            <img slot="start" [src]="token.app.icon" [alt]="token.app.name" width="48" height="48" draggable="false" *ngIf="token.app.icon">

            <mat-label class="spacer">
                <h3>
                    {{ token.app.name }}
                </h3>
                <p>
                    ID: {{ token.appId }}
                </p>
            </mat-label>
        </mat-list-item>

        <div mat-subheader>
            Device
        </div>

        <mat-list-item lines="full">
            <mat-label class="spacer">
                <p>
                    {{ token.device }}
                </p>
            </mat-label>
        </mat-list-item>

        <div mat-subheader>
            Expiry
        </div>

        <mat-list-item lines="full">
            <mat-label class="spacer">
                <p>
                    {{ token.expiry | date : 'yyyy/MM/dd HH:mm' }}
                </p>
            </mat-label>
        </mat-list-item>

        <div mat-subheader>
            Scopes
        </div>

        <mat-list-item *ngFor="let scope of token.scopes">
            <mat-label class="spacer">
                <p>
                    {{ scope.url }}
                </p>
            </mat-label>
        </mat-list-item>
    </mat-list>
</mat-content>