.mat-column-avatar {
    width: 60px;
}
span {
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 12px;
    background-color: #FAFAFA;
    &.app {
        color: #ffffff;
        background-color: #F44336;
    }
    &.user {
        color: #ffffff;
        background-color: #4CAF50;
    }
    &.group {
        color: #ffffff;
        background-color: #2196F3;
    }
}