<mat-toolbar>
    <mat-back-button></mat-back-button>

    <label for="subscribers">
        Subscribers
    </label>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content>
    <table mat-table [dataSource]="table">
        <ng-container matColumnDef="avatar">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-avatar [src]="element.avatar"></mat-avatar>
            </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>
                Description
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.description }}
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>
                Type
            </th>
            <td mat-cell *matCellDef="let element">
                <span [class]="element.type">
                    {{ element.type }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>
                Role
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.role == 1 ? 'Read' : '' }}
                {{ element.role == 2 ? 'Write' : '' }}
                {{ element.role == 3 ? 'Write/Read' : '' }}
                {{ element.role == 4 ? 'Admin' : '' }}
                {{ element.role == 5 ? 'Owner' : '' }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['avatar', 'description', 'type', 'role']; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: ['avatar', 'description', 'type', 'role'];" (click)="options(row)"></tr>
    </table>
</mat-content>

<button mat-fab class="add-floating-button" color="primary" routerLink="editor" [queryParams]="{ mode: 'add' }">
    <mat-icon>
        add
    </mat-icon>
</button>