<mat-toolbar>
    <mat-back-button></mat-back-button>

    <label for="subscribers">
        Subscribers
    </label>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content>
    <mat-list>
        <h2 mat-subheader>
            Apps
        </h2>

        <mat-list-item lines="full" *ngFor="let element of data | filterBy : { type: 'app' }" (click)="options(element, 'app')">
            <mat-label>
                <h3>
                    {{ element.email }}
                </h3>
                <p>
                    {{ element.role == 1 ? 'Read' : ''}}
                    {{ element.role == 2 ? 'Write' : ''}}
                    {{ element.role == 3 ? 'Read/Write' : ''}}
                    {{ element.role == 4 ? 'Admin' : ''}}
                    {{ element.role == 5 ? 'Owner' : ''}}
                </p>
            </mat-label>
        </mat-list-item>
        
        <h2 mat-subheader>
            Users
        </h2>

        <mat-list-item lines="full" *ngFor="let element of data | filterBy : { type: 'user' }" (click)="options(element, 'user')">
            <mat-label>
                <h3>
                    {{ users.data | describe : 'userId' : element.id : 'name' }}
                </h3>
                <p>
                    {{ element.role == 1 ? 'Read' : ''}}
                    {{ element.role == 2 ? 'Write' : ''}}
                    {{ element.role == 3 ? 'Read/Write' : ''}}
                    {{ element.role == 4 ? 'Admin' : ''}}
                    {{ element.role == 5 ? 'Owner' : ''}}
                </p>
            </mat-label>
        </mat-list-item>
        
        <h2 mat-subheader>
            Groups
        </h2>

        <mat-list-item lines="full" *ngFor="let element of data | filterBy : { type: 'group' }" (click)="options(element, 'group')">
            <mat-label>
                <h3>
                    {{ element.email }}
                </h3>
                <p>
                    {{ element.role == 1 ? 'Read' : ''}}
                    {{ element.role == 2 ? 'Write' : ''}}
                    {{ element.role == 3 ? 'Read/Write' : ''}}
                    {{ element.role == 4 ? 'Admin' : ''}}
                    {{ element.role == 5 ? 'Owner' : ''}}
                </p>
            </mat-label>
        </mat-list-item>
    </mat-list>
</mat-content>