<mat-toolbar color="primary">
    <button mat-icon-button class="menu-toggle" (click)="menu.toggle()">
        <mat-icon>
            menu
        </mat-icon>
    </button>

    <div class="page-label spacer">
        account
    </div>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>

<div class="page-body">
    <form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
        <app-image-upload label="picture" [value]="form.value.picture" [required]="!form.value.picture || errors.picture"></app-image-upload>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                username
            </mat-label>
            
            <input matInput type="text" name="username" placeholder="username" formControlName="username" required>
    
            <mat-error *ngIf="errors.username">
                {{ errors.username }}
            </mat-error>
        </mat-form-field>
    
        <button type="submit" mat-flat-button color="primary">
            update
        </button>
    
        <button type="button" mat-flat-button color="accent" margin-top routerLink="change-password">
            change password
        </button>
    
        <button type="button" mat-flat-button color="warn" margin-top routerLink="remove-account">
            remove account
        </button>
    </form>
</div>