[upload] {
    width: 100px;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
}
mat-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    form {
        max-width: 400px;
        margin-top: 20px;
    }
}