<mat-toolbar>
    <mat-menu-button></mat-menu-button>

    <label for="account">
        Account
    </label>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content fxLayout="row" fxLayoutAlign="center flex-start">
    <form fxFlex="60" fxFlex.lg="70" fxFlex.md="80" fxFlex.sm="90" fxFlex.xs="100" [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
        <mat-file [required]="true" formControlName="picture">
            <mat-label>
                Profile Image <span>*</span>
            </mat-label>
        </mat-file>

        <section formGroupName="name">
            <mat-form-field appearance="outline">
                <mat-label>
                    First Name
                </mat-label>

                <input matInput type="text" name="first name" placeholder="first name" formControlName="first" required>

                <mat-error *ngIf="errors.name.first">
                    {{ errors.name.first }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Last Name
                </mat-label>

                <input matInput type="text" name="last name" placeholder="last name" formControlName="last" required>

                <mat-error *ngIf="errors.name.last">
                    {{ errors.name.last }}
                </mat-error>
            </mat-form-field>
        </section>

        <mat-form-field appearance="outline">
            <mat-label>
                Username
            </mat-label>

            <input matInput type="text" name="username" placeholder="username" formControlName="username" required>

            <mat-error *ngIf="errors.username">
                {{ errors.username }}
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-flat-button color="primary">
            Update
        </button>

        <button type="button" mat-flat-button color="warn" routerLink="remove">
            Remove Account
        </button>

        <button type="button" mat-stroked-button color="primary" routerLink="/change-password" [queryParams]="{ userId: userId, appId: appId}">
            Change Password
        </button>
    </form>
</mat-content>