<mat-content>
    <form [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                App
            </mat-label>
            
            <mat-select name="appId" placeholder="appId" formControlName="appId" required>
                <mat-option [formGroup]="filter">
                    <ngx-mat-select-search placeholderLabel="filter apps" noEntriesFoundLabel="no apps found" formControlName="apps"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let app of apps.data | filterBy : {'name': filter.value.apps}" [value]="app.appId">
                    {{ app.name }}
                </mat-option>
            </mat-select>
    
            <mat-error *ngIf="errors.appId">
                {{ errors.appId }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Expiry
            </mat-label>
            
            <input matInput type="datetime-local" name="expiry" format="YYYY-MM-DD HH:mm" placeholder="expiry" formControlName="expiry" required>
    
            <mat-error *ngIf="errors.expiry">
                {{ errors.expiry }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Description
            </mat-label>
            
            <input matInput type="text" name="description" placeholder="description" formControlName="description" required>
    
            <mat-error *ngIf="errors.description">
                {{ errors.description }}
            </mat-error>
        </mat-form-field>
    </form>
</mat-content>

<mat-footer>
    <button type="button" mat-flat-button color="primary" [disabled]="form.invalid" (click)="!loading && !form.invalid && submit()">
        generate
    </button>
</mat-footer>