<form [formGroup]="form" (ngSubmit)="!form.invalid && !loading && form.value.new == form.value.confirm && submit()">
    <img src="./assets/icons/icon-512x512.png" alt="Auth Icon">

    <mat-form-field appearance="outline">
        <mat-label>
            New Password
        </mat-label>
        
        <input matInput type="password" name="new" placeholder="password" formControlName="new" required>

        <mat-error *ngIf="errors.new">
            {{ errors.new }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>
            Confirm Password
        </mat-label>
        
        <input matInput type="password" name="confirm" placeholder="confirm" formControlName="confirm" required>

        <mat-error *ngIf="errors.confirm || form.value.new != form.value.confirm">
            {{ errors.confirm }}
            {{ (errors.confirm && form.value.new != form.value.confirm) ? ' & ' : '' }}
            {{ form.value.new != form.value.confirm ? 'Passwords do not match' : '' }}
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">
        {{ loading ? '' : 'change Password' }}

        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
    </button>

    <button type="button" mat-stroked-button color="primary" routerLink="/">
        home
    </button>
</form>