<mat-content>
    <img [src]="app.icon ? app.icon : './assets/icons/icon-512x512.png'" alt="icon" width="100" height="100">

    <h1>
        {{ app.name ? app.name : 'Auth' }}
    </h1>

    <h2>
        Reset Password
    </h2>

    <form [formGroup]="form" (ngSubmit)="form.value.new == form.value.confirm && !form.invalid && submit()">
        <mat-form-field class="with-hint" appearance="outline">
            <mat-label>
                Password
            </mat-label>

            <input matInput type="password" name="new" minlength="8" placeholder="new" formControlName="new" required>

            <mat-hint>
                Greater then 8 characters with at least one lowercase, uppercase & special character
            </mat-hint>

            <mat-error *ngIf="errors.new">
                {{ errors.new }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="with-hint" appearance="outline">
            <mat-label>
                Confirm Password
            </mat-label>

            <input matInput type="password" name="confirm password" minlength="8" placeholder="confirm password" formControlName="confirm" required>

            <mat-hint>
                Greater then 8 characters with at least one lowercase, uppercase & special character
            </mat-hint>

            <mat-error *ngIf="errors.confirm || form.value.new != form.value.confirm">
                {{ errors.confirm }}
                {{ form.value.new != form.value.confirm && errors.confirm ? ' & ' : '' }}
                {{ form.value.new != form.value.confirm ? 'Passwords do not match!' : '' }}
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-flat-button color="primary">
            {{ loading ? '' : 'change password' }}

            <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
        </button>

        <button type="button" mat-stroked-button color="primary" back-button>
            back
        </button>
    </form>
</mat-content>