<mat-content>
    <img [src]="app.icon ? app.icon : './assets/icons/icon-512x512.png'" alt="icon" width="100" height="100">

    <h1>
        {{ app.name ? app.name : 'Auth' }}
    </h1>

    <h2>
        Forgot Password
    </h2>

    <p>
        You will recieve and email with your instructions to reset your password!
    </p>

    <form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                Email
            </mat-label>

            <input matInput type="email" name="email" placeholder="email" formControlName="email" required>

            <mat-error *ngIf="errors.email">
                {{ errors.email }}
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-flat-button color="primary">
            {{ loading ? '' : 'submit' }}

            <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
        </button>

        <button type="button" mat-stroked-button color="primary" back-button>
            back
        </button>
    </form>
</mat-content>