<mat-toolbar>
    <label for="Feature Editor">
        Feature Editor
    </label>
</mat-toolbar>

<mat-content>
    <form [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                App
            </mat-label>

            <mat-select name="appId" placeholder="appId" formControlName="appId" required>
                <mat-option>
                    <ngx-mat-select-search #filter placeholderLabel="Filter apps..."
                        noEntriesFoundLabel="There are no apps matching your query!"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let app of apps.data | orderBy : 'name' | filterBy : { 'name': filter.value }"
                    [value]="app.appId">
                    {{ app.name }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.appId">
                {{ errors.appId }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Title
            </mat-label>

            <input matInput type="text" name="title" placeholder="title" formControlName="title" required>

            <mat-error *ngIf="errors.title">
                {{ errors.title }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Subtitle
            </mat-label>

            <input matInput type="text" name="subtitle" placeholder="subtitle" formControlName="subtitle" required>

            <mat-error *ngIf="errors.subtitle">
                {{ errors.subtitle }}
            </mat-error>
        </mat-form-field>

        <button #button type="submit" style="display: none;"></button>
    </form>

    <!-- <section [formGroup]="form">
        <quill-editor name="data" formControlName="data"></quill-editor>
    </section> -->
</mat-content>

<mat-footer>
    <button type="button" mat-flat-button color="primary" [disabled]="form.invalid" (click)="button.click()">
        {{ mode }}
    </button>
</mat-footer>