<form [formGroup]="form" (ngSubmit)="!form.invalid && !loading && submit()">
    <img src="./assets/icons/icon-512x512.png" alt="Auth Icon">

    <mat-form-field appearance="outline">
        <mat-label text-uppercase>
            Email
        </mat-label>
        
        <input matInput type="email" name="email" placeholder="email" formControlName="email" required>

        <mat-error *ngIf="errors.email">
            {{ errors.email }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label text-uppercase>
            Verification Code
        </mat-label>
        
        <input matInput type="number" name="code" placeholder="code" formControlName="code" required>

        <mat-hint>
            Check your email for code!
        </mat-hint>

        <mat-error *ngIf="errors.code">
            {{ errors.code }}
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">
        {{ loading ? '' : 'verify' }}

        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
    </button>

    <button type="button" mat-stroked-button color="primary" routerLink="/signin">
        sign in
    </button>
</form>