<mat-toolbar>
    <label for="filter apps">
        Filter Apps
    </label>

    <button mat-icon-button (click)="close()">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content>
    <form [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                Access Mode
            </mat-label>

            <mat-select name="private" formControlName="private" multiple>
                <mat-option [value]="false">
                    Public
                </mat-option>
                <mat-option [value]="true">
                    Private
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.private">
                {{ errors.private }}
            </mat-error>
        </mat-form-field>

        <button #button type="submit" style="display: none;"></button>
    </form>
</mat-content>

<mat-footer>
    <button type="button" color="primary" mat-flat-button (click)="button.click()">
        Apply
    </button>
</mat-footer>