html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}
table {
    width: 100%;
    background-color: transparent !important;
    .mat-header-row {
        height: 30px !important;
        background-color: #FAFAFA;
    }
    .mat-row .mat-cell {
        font-size: 15px;
    }
}
* {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
mat-chip-list mat-chip {
    cursor: pointer !important;
    .chip-icon {
        margin-left: -6px;
        margin-right: 6px;
    }
}
.spacer {
    flex: 1 auto;
}
.toast {
    border-radius: 24px !important;
    simple-snack-bar {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
[slot="start"] {
    margin-right: 16px !important;
}
[mat-subheader] button {
    margin-left: auto;
}
mat-list {
    padding: 0px !important;
    mat-list-item {
        cursor: pointer;
        height: 56px !important;
        mat-label {
            h3 {
                margin: 0px !important;
                height: 16px !important;
                font-size: 14px !important;
                line-height: 14px !important;
                font-weight: 500 !important;
            }
            p {
                margin: 0px !important;
                height: 14px !important;
                font-size: 12px !important;
                line-height: 12px !important;
            }
        }
    }
}
form {
    width: calc(100% - 20px);
    margin: 0px auto;
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    mat-form-field {
        flex: 1 auto;
    }
    section {
        flex: 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        mat-form-field {
            flex: 0 calc(50% - 5px);
            width: calc(50% - 5px);
        }
    }
    [mat-flat-button],
    [mat-stroked-button] {
        height: 48px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
}
[mat-flat-button].mat-primary mat-progress-spinner,
[mat-stroked-button].mat-primary mat-progress-spinner {
    margin: auto;
    circle {
        stroke: #FFF;
    }
}
mat-toolbar {
    max-height: 56px;
}
mat-tab-group {
    background-color: transparent !important;
}
.mat-list .mat-subheader[lines="full"],
.mat-list .mat-list-item[lines="full"] {
    border-bottom: 1px solid #e0e0e0;
}
.mat-drawer-content {
    transform: all;
    margin-left: 0px !important;
}
.minified .mat-drawer-content {
    margin-left: 56px !important;
}
.authenticated:not(.minified) .mat-drawer-content {
    margin-left: 300px !important;
}
body.dark-mode {
    color: rgba(255, 255, 255, 0.8) !important;
    background-color: #000 !important;
    h1, h2, h3, h4, h5, h6, p {
        color: rgba(255, 255, 255, 0.8) !important;
    }
    splashscreen {
        color: rgba(255, 255, 255, 0.8) !important;
        background-color: #000 !important;
    }
    mat-drawer {
        color: rgba(255, 255, 255, 0.8) !important;
        background-color: rgba(255, 255, 255, 0.05) !important;
    }
    mat-footer,
    mat-toolbar {
        color: rgba(255, 255, 255, 0.8) !important;
        background-color: rgba(255, 255, 255, 0.05) !important;
    }
    mat-account {
        border-color: #212121 !important;
    }
    button:disabled {
        color: rgba(255, 255, 255, 0.25) !important;
    }
    input, 
    select {
        color: rgba(255, 255, 255, 0.8) !important;
    }
    .mat-form-field:not(.mat-form-field-invalid) *,
    .mat-form-field-outline {
        color: rgba(255, 255, 255, 0.8);
    }
    .mat-list {
        .mat-subheader,
        .mat-list-item {
            color: rgba(255, 255, 255, 0.8) !important;
        }
        .mat-list-item[lines="full"] {
            border-color: rgba(255, 255, 255, 0.25) !important;
        }
    }
    .mat-slide-toggle .mat-slide-toggle-bar {
        background-color: rgba(255, 255, 255, 0.25) !important;
    }
    .mat-header-row {
        background-color: #212121 !important;
        .mat-header-cell {
            color: rgba(255, 255, 255, 0.8) !important;
            border-color: rgba(255, 255, 255, 0.05) !important;
        }
    }
    .mat-row {
        .mat-cell {
            color: rgba(255, 255, 255, 0.8) !important;
            border-color: #212121 !important;
        }
    }
    .mat-tab-group, .mat-tab-label {
        color: rgba(255, 255, 255, 0.8) !important;
    }
    .mat-tab-header {
        border-color: #212121 !important;
    }
}

/* ---  --- */
apps-page,
signin-page,
signup-page,
account-page,
settings-page,
app-features-page,
remove-account-page,
verify-account-page,
privacy-policy-page,
reset-password-page,
change-password-page,
terms-and-conditions-page {
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
}
/* ---  --- */