<mat-content>
    <img [src]="app.icon" alt="icon" width="100" height="100">

    <h1>
        {{ app.name ? app.name : 'Auth' }}
    </h1>

    <h2>
        Verify Account
    </h2>

    <p>
        You will recieve and email with your veification code. You must enter the code below or click the link in the email to verify your account!
    </p>

    <form [formGroup]="form" (ngSubmit)="!form.invalid && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                Email
            </mat-label>

            <input matInput type="email" name="email" placeholder="email" formControlName="email" required>

            <mat-error *ngIf="errors.email">
                {{ errors.email }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Verification Code
            </mat-label>
            
            <input matInput min="100000" max="999999" minlength="6" maxlength="6" type="number" name="code" placeholder="code" formControlName="code" required>
    
            <mat-error *ngIf="errors.code">
                {{ errors.code }}
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-flat-button color="primary">
            {{ loading ? '' : 'verify account' }}

            <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
        </button>

        <button type="button" mat-stroked-button color="primary" back-button>
            back
        </button>
    </form>
</mat-content>