<mat-content fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        
        <div class="icon" [style.background-image]="'url(' + app.icon + ')'"></div>
        
        <h1>
            Verify Account
        </h1>

        <p>
            You will receive an email with your veification code. You must enter the code below or click the link in the email to verify your account! 
        </p>

        <form [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
            <mat-form-field appearance="outline">
                <mat-label>
                    Email
                </mat-label>

                <input matInput type="email" name="email" placeholder="email" formControlName="email" required>

                <mat-error *ngIf="errors.email">
                    {{ errors.email }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Verification Code
                </mat-label>

                <input matInput type="number" min="100000" max="999999" name="verification code" minlength="6" maxlength="6" placeholder="verification code" formControlName="code" required>

                <mat-error *ngIf="errors.code">
                    {{ errors.code }}
                </mat-error>
            </mat-form-field>

            <div class="button-footer">
                <button type="button" mat-stroked-button color="primary" routerLink="/signin">
                    Sign In
                </button>

                <button type="submit" mat-flat-button color="primary">
                    Next
                </button>
            </div>
        </form>
        
        <div class="row-below-card">
            <a href="https://www.bitid.co.za" target="_blank">
                Powered by biTid
            </a>
            
            <a [href]="app.privacyPolicy" target="_blank">
                Privacy Policy
            </a>

            <a [href]="app.termsAndConditions" target="_blank">
                Terms & Conditions
            </a>
        </div>
    </mat-card>
</mat-content>