mat-list mat-list-item {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.mat-column-validated {
    span {
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 12px;
        background-color: #e0e0e0;
    }
    span.verified {
        color: #ffffff;
        background-color: #2196f3;
    }
}
