<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-chip-list class="filterbar" *ngIf="filter.validated.length > 0">
    <mat-chip *ngFor="let id of filter.validated" (removed)="unfilter('validated', id)">
        <mat-icon>
            verified
        </mat-icon>
        
        <mat-label>
            {{ id == 1 ? 'Verified' : 'Not Verified' }}
        </mat-label>
        
        <mat-icon matChipRemove>
            cancel
        </mat-icon>
    </mat-chip>
</mat-chip-list>

<table mat-table [dataSource]="users" fxShow fxHide.xs="true" matSort>
    <ng-container matColumnDef="namefirst">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            First Name
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.name.first ? element.name.first : '-' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="namemiddle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Middle Name
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.name.middle ? element.name.middle : '-' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="namelast">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Last Name
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.name.last ? element.name.last : '-' }}
        </td>
    </ng-container>
    
    <ng-container matColumnDef="numbertel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Tel Number
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.number.tel ? element.number.tel : '-' }}
        </td>
    </ng-container>
    
    <ng-container matColumnDef="numbercell">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cell Number
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.number.mobile ? element.number.mobile : '-' }}
        </td>
    </ng-container>
    
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Email
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.email ? element.email : '-' }}
        </td>
    </ng-container>
    
    <ng-container matColumnDef="validated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Validated
        </th>
        <td mat-cell *matCellDef="let element">
            <span [class]="element.validated == 0 ? 'not-verified' : 'verified'">
                {{ element.validated == 0 ? 'not verified' : 'verified' }}
            </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<mat-list fxHide fxShow.xs="true">
    <mat-list-item lines="full" *ngFor="let element of users.data" matRipple>
        <mat-label>
            <h3>
                {{ element.name.first }} {{ element.name.last }}
            </h3>
            <p>
                {{ element.email }}
            </p>
        </mat-label>
    </mat-list-item>
</mat-list>