table {
    width: 100%;
}
.mat-column-role {
    flex:  1 150px;
    width: 150px;
}
.mat-column-remove {
    flex:  1 40px;
    width: 40px;
}
.mat-select-disabled {
    background: transparent !important;
}