.image-upload {
    width:              150px;
    height:             150px;
    margin:             auto;
    border:             1px solid #E0E0E0;
    display:            flex;
    position:           relative;
    align-items:        center;
    margin-bottom:      15px;
    border-radius:      4px;
    justify-content:    center;
    img {
        max-width:  140px;
        max-height: 140px;
    }
    label {
        top:                -6px;
        left:               5px;
        color:              #616161;
        padding:            0px 5px;
        position:           absolute;
        font-size:          11px;
        line-height:        11px;
        background-color:   #FAFAFA;
    }
    input {
        display: none;
    }
    .ripple {
        top:        0px;
        left:       0px;
        right:      0px;
        bottom:     0px;
        z-index:    1;
        position:   absolute;
    }
}
.image-upload:hover {
    border:         2px solid #000;
    margin-top:     -1px;
    margin-bottom:  14px;
    label span {
        color: #2196F3 !important;
    }
}
.image-upload.required {
    color:          #F44336 !important;
    border:         2px solid #F44336;
    margin-top:     -1px;
    margin-bottom:  14px;
}