<mat-content>
    <img [src]="app.icon" alt="icon" width="100" height="100" *ngIf="app.icon">

    <h1 *ngIf="app.name">
        {{ app.name }}
    </h1>

    <form [formGroup]="form" (ngSubmit)="!form.invalid && !loading && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                Email
            </mat-label>
            
            <input matInput type="email" name="email" placeholder="email" formControlName="email" required>

            <mat-error *ngIf="errors.email">
                {{ errors.email }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Password
            </mat-label>
            
            <input matInput type="password" name="password" placeholder="password" formControlName="password" required>

            <mat-error *ngIf="errors.password">
                {{ errors.password }}
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-flat-button color="primary">
            {{ loading ? '' : 'allow access' }}

            <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
        </button>
    </form>
</mat-content>