<mat-content>
    <div class="image-container">
        <img [src]="app.icon" alt="icon" width="100" height="100" *ngIf="app.icon">
    </div>

    <h1 *ngIf="app.name">
        {{ app.name }}
    </h1>

    <p>
        This application is requesting access to your account for authentication!
    </p>

    <button type="button" mat-flat-button color="primary" (click)="submit()">
        {{ loading ? '' : 'Grant Access' }}

        <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
    </button>

    <button type="button" mat-stroked-button color="primary" (click)="switch()">
        Switch Account
    </button>

    <button type="button" mat-stroked-button color="primary" back-button>
        back
    </button>
</mat-content>