<mat-content>
    <img [src]="app.icon ? app.icon : './assets/icons/icon-512x512.png'" alt="icon" width="100" height="100">

    <h1>
        {{ app.name ? app.name : 'Auth' }}
    </h1>

    <h2>
        Sign Up
    </h2>

    <form [formGroup]="form" (ngSubmit)="form.value.password == form.value.confirm && !form.invalid && submit()">
        <section formGroupName="name">
            <mat-form-field appearance="outline">
                <mat-label>
                    First Name
                </mat-label>
    
                <input matInput type="text" name="first name" placeholder="first name" formControlName="first" required>
    
                <mat-error *ngIf="errors.name.first">
                    {{ errors.name.first }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Last Name
                </mat-label>

                <input matInput type="text" name="last name" placeholder="last name" formControlName="last" required>

                <mat-error *ngIf="errors.name.last">
                    {{ errors.name.last }}
                </mat-error>
            </mat-form-field>
        </section>

        <mat-form-field appearance="outline">
            <mat-label>
                Email
            </mat-label>

            <input matInput type="email" name="email" placeholder="email" formControlName="email" required>

            <mat-error *ngIf="errors.email">
                {{ errors.email }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Password
            </mat-label>

            <input matInput type="password" name="password" placeholder="password" formControlName="password" required>

            <mat-error *ngIf="errors.password">
                {{ errors.password }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Confirm Password
            </mat-label>

            <input matInput type="password" name="confirm password" placeholder="confirm password" formControlName="confirm" required>

            <mat-error *ngIf="errors.confirm || form.value.password != form.value.confirm">
                {{ errors.confirm }}
                {{ form.value.password != form.value.confirm && errors.confirm ? ' & ' : '' }}
                {{ form.value.password != form.value.confirm ? 'Passwords do not match!' : '' }}
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-flat-button color="primary">
            {{ loading ? '' : 'sign up' }}

            <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
        </button>

        <p>
            By clicking “SIGN UP”, you agree to our <a routerLink="/terms-and-conditions">Terms & Conditions</a> and  <a routerLink="/privacy-policy">Privacy Policy</a>. We’ll occasionally send you account related emails.
        </p>

        <button type="button" mat-stroked-button color="primary" (click)="verifyaccount()">
            verify account
        </button>
    </form>
</mat-content>