<mat-content fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

        <div class="icon" [style.background-image]="'url(' + app.icon + ')'"></div>
        
        <h1>
            Sign Up
        </h1>

        <p>
            to use {{ app.name }}
        </p>

        <form [formGroup]="form" (ngSubmit)="form.value.confirm == form.value.password && !loading && !form.invalid && submit()">
            <section formGroupName="name">
                <mat-form-field appearance="outline">
                    <mat-label>
                        First Name
                    </mat-label>
    
                    <input matInput type="text" name="first name" placeholder="first name" formControlName="first" required>
    
                    <mat-error *ngIf="errors.name.first">
                        {{ errors.name.first }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>
                        Last Name
                    </mat-label>
    
                    <input matInput type="text" name="last name" placeholder="last name" formControlName="last" required>
    
                    <mat-error *ngIf="errors.name.last">
                        {{ errors.name.last }}
                    </mat-error>
                </mat-form-field>
            </section>

            <mat-form-field appearance="outline">
                <mat-label>
                    Email
                </mat-label>

                <input matInput type="email" name="email" placeholder="email" formControlName="email" required>

                <mat-error *ngIf="errors.email">
                    {{ errors.email }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Password
                </mat-label>

                <input matInput type="password" name="password" placeholder="password" formControlName="password" required>

                <mat-error *ngIf="errors.password">
                    {{ errors.password }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Confirm Password
                </mat-label>

                <input matInput type="password" name="confirm password" placeholder="confirm password" formControlName="confirm" required>

                <mat-error *ngIf="errors.confirm">
                    {{ errors.confirm }}
                </mat-error>
            </mat-form-field>

            <mat-checkbox color="primary" formControlName="newsAndChanges">
                I want to receive news & changes
            </mat-checkbox>

            <mat-checkbox color="primary" formControlName="privacyPolicy">
                I have read and agree to the privacy policy
                <b>
                    Required to continue!
                </b>
            </mat-checkbox>

            <mat-checkbox color="primary" formControlName="termsAndConditions">
                I have read and agree to the terms & conditions
                <b>
                    Required to continue!
                </b>
            </mat-checkbox>

            <div class="button-footer">
                <button type="button" mat-stroked-button color="primary" routerLink="/signin" queryParamsHandling="preserve">
                    Sign In
                </button>

                <button type="submit" mat-flat-button color="primary">
                    Next
                </button>
            </div>
        </form>
        
        <div class="row-below-card">
            <a href="https://www.bitid.co.za" target="_blank">
                Powered by biTid
            </a>
            
            <a [href]="app.privacyPolicy" target="_blank">
                Privacy Policy
            </a>

            <a [href]="app.termsAndConditions" target="_blank">
                Terms & Conditions
            </a>
        </div>
    </mat-card>
</mat-content>