<mat-toolbar>
    <mat-menu-button></mat-menu-button>

    <label for="remove account">
        Remove Account
    </label>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content fxLayout="row" fxLayoutAlign="center flex-start">
    <form fxFlex="60" fxFlex.lg="70" fxFlex.md="80" fxFlex.sm="90" fxFlex.xs="100" [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
        <p class="notice">
            The removal of your account will mean you can no longer sign in to the platform. This does not remove the
            assets you have created in the time you have had an account with us and if you wish to signup again your
            assets will be available to you once again!
        </p>

        <mat-form-field appearance="outline">
            <mat-label>
                Username
            </mat-label>

            <input matInput type="text" name="email" placeholder="email" formControlName="email" required>

            <mat-error *ngIf="errors.email">
                {{ errors.email }}
            </mat-error>
        </mat-form-field>        

        <mat-form-field appearance="outline">
            <mat-label>
                Confirm Password
            </mat-label>

            <input matInput type="password" name="confirm password" placeholder="confirm password"
                formControlName="password" required>

            <mat-error *ngIf="errors.password">
                {{ errors.password }}
            </mat-error>
        </mat-form-field>

        <button #button type="submit" style="display: none;"></button>
    </form>
</mat-content>

<mat-footer>
    <button type="button" mat-flat-button color="warn" (click)="button.click()">
        Confirm & Remove
    </button>
</mat-footer>