<mat-toolbar>
    <mat-back-button></mat-back-button>

    <label for="group editor">
        {{ mode == 'add' ? 'Create Group' : '' }}
        {{ mode == 'copy' ? 'Copy Group' : '' }}
        {{ mode == 'update' ? 'Edit Group' : '' }}
    </label>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content fxLayout="row" fxLayoutAlign="center flex-start">
    <form fxFlex="60" fxFlex.lg="70" fxFlex.md="80" fxFlex.sm="90" fxFlex.xs="100" [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                Description
            </mat-label>

            <input matInput type="text" name="description" placeholder="description" formControlName="description"
                required>

            <mat-error *ngIf="errors.description">
                {{ errors.description }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                App(s)
            </mat-label>

            <mat-select name="appId" placeholder="appId" formControlName="appId" multiple>
                <mat-option>
                    <ngx-mat-select-search #filter placeholderLabel="Filter apps..." noEntriesFoundLabel="There are no apps matching your query!"></ngx-mat-select-search>
                </mat-option>

                <mat-option *ngFor="let app of apps.data | orderBy : 'name' | filterBy : { name: filter.value }" [value]="app.appId">
                    {{ app.name }}
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.appId">
                {{ errors.appId }}
            </mat-error>
        </mat-form-field>

        <h2>
            Access Control
        </h2>

        <section>
            <mat-form-field appearance="outline">
                <mat-label>
                    Access Mode
                </mat-label>

                <mat-select name="private" formControlName="private" required>
                    <mat-option [value]="false">
                        Public
                    </mat-option>
                    <mat-option [value]="true">
                        Private
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="errors.private">
                    {{ errors.private }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Sharing Rules
                </mat-label>

                <mat-select name="organizationOnly" formControlName="organizationOnly" required>
                    <mat-option [value]="0">
                        Share To Anyone
                    </mat-option>
                    <mat-option [value]="1">
                        In Organization Only
                    </mat-option>
                </mat-select>

                <mat-error *ngIf="errors.organizationOnly">
                    {{ errors.organizationOnly }}
                </mat-error>
            </mat-form-field>
        </section>

        <button #button type="submit" style="display: none;"></button>
    </form>
</mat-content>

<mat-footer>
    <button type="button" mat-flat-button color="primary" (click)="button.click()">
        Submit
    </button>
</mat-footer>