<mat-toolbar color="primary">
    <div class="page-label spacer">
        generate token
    </div>

    <button mat-icon-button routerLink="/tokens">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>

<div class="page-body">
    <form [formGroup]="form" (ngSubmit)="!form.invalid && !loading && submit()">
        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                app
            </mat-label>
            
            <mat-select name="appId" placeholder="app" formControlName="appId" required>
                <mat-option *ngFor="let app of apps | orderBy : 'name'" [value]="app.appId">
                    {{ app.name }}
                </mat-option>
            </mat-select>
    
            <mat-error *ngIf="errors.appId">
                {{ errors.appId }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                expiry
            </mat-label>
            
            <input matInput type="date" name="expiry" placeholder="expiry" formControlName="expiry" required>
    
            <mat-error *ngIf="errors.expiry">
                {{ errors.expiry }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label text-uppercase>
                description
            </mat-label>
            
            <input matInput type="text" name="description" placeholder="description" formControlName="description" required>
    
            <mat-error *ngIf="errors.description">
                {{ errors.description }}
            </mat-error>
        </mat-form-field>
    
        <button type="submit" mat-flat-button color="primary">
            submit
        </button>
    </form>
</div>