<table mat-table [dataSource]="scopes" fxShow fxHide.xs="true">
    <ng-container matColumnDef="app">
        <th mat-header-cell *matHeaderCellDef>
            App
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.app.name }}
        </td>
    </ng-container>

    <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>
            Scope
        </th>
        <td mat-cell *matCellDef="let element">
            <span>
                {{ element.url }}
            </span>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>
            Description
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.description }}
        </td>
    </ng-container>

    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="options(element)">
                <mat-icon>
                    more_vert
                </mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>

<mat-list fxHide fxShow.xs="true">
    <mat-list-item lines="full" *ngFor="let element of scopes.data" (click)="options(element)" matRipple>
        <mat-label>
            <h3>
                {{ element.app.name }}
            </h3>
            <p>
                {{ element.url }}
            </p>
        </mat-label>
    </mat-list-item>
</mat-list>