<mat-toolbar>
    <label for="filter users">
        Filter Users
    </label>

    <button mat-icon-button (click)="close()">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<mat-content>
    <form [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                Validated
            </mat-label>

            <mat-select name="validated" formControlName="validated" multiple>
                <mat-option [value]="1">
                    Verified
                </mat-option>
                <mat-option [value]="0">
                    Not Verified
                </mat-option>
            </mat-select>

            <mat-error *ngIf="errors.validated">
                {{ errors.validated }}
            </mat-error>
        </mat-form-field>

        <button #button type="submit" style="display: none;"></button>
    </form>
</mat-content>

<mat-footer>
    <button type="button" color="primary" mat-flat-button (click)="button.click()">
        Apply
    </button>
</mat-footer>