<mat-content fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        
        <div class="icon" [style.background-image]="'url(' + app.icon + ')'"></div>
        
        <h1>
            Change Password
        </h1>

        <form [formGroup]="form" (ngSubmit)="!loading && !form.invalid && submit()">
            <mat-form-field appearance="outline">
                <mat-label>
                    Old Password
                </mat-label>

                <input matInput type="password" name="old password" placeholder="old password" formControlName="old" required>

                <mat-error *ngIf="errors.old">
                    {{ errors.old }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    New Password
                </mat-label>

                <input matInput type="password" name="new password" placehnewer="new password" formControlName="new" required>

                <mat-error *ngIf="errors.new">
                    {{ errors.new }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Confirm Password
                </mat-label>

                <input matInput type="password" name="confirm password" placehconfirmer="confirm password" formControlName="confirm" required>

                <mat-error *ngIf="errors.confirm">
                    {{ errors.confirm }}
                </mat-error>
            </mat-form-field>

            <div class="button-footer">
                <button type="button" mat-stroked-button color="primary" routerLink="/signin" queryParamsHandling="preserve">
                    Back
                </button>

                <button type="submit" mat-flat-button color="primary">
                    Next
                </button>
            </div>
        </form>
        
        <div class="row-below-card">
            <a href="https://www.bitid.co.za" target="_blank">
                Powered by biTid
            </a>
            
            <a [href]="app.privacyPolicy" target="_blank">
                Privacy Policy
            </a>

            <a [href]="app.termsAndConditions" target="_blank">
                Terms & Conditions
            </a>
        </div>
    </mat-card>
</mat-content>