<mat-content>
    <h1>
        Change Password
    </h1>

    <form [formGroup]="form" (ngSubmit)="!loading && !form.invalid && form.value.new == form.value.confirm && submit()">
        <mat-form-field appearance="outline">
            <mat-label>
                Old Password
            </mat-label>

            <input matInput type="password" name="old password" placeholder="old password" formControlName="old"
                required>

            <mat-error *ngIf="errors.old">
                {{ errors.old }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                New Password
            </mat-label>

            <input matInput type="password" name="new password" placeholder="new password" formControlName="new"
                required>

            <mat-error *ngIf="errors.new">
                {{ errors.new }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>
                Confirm Password
            </mat-label>

            <input matInput type="password" name="confirm password" placeholder="confirm password"
                formControlName="confirm" required>

            <mat-error *ngIf="errors.confirm || form.value.new != form.value.confirm">
                {{ errors.confirm }}
                {{ (errors.confirm && form.value.new != form.value.confirm) ? ' & ' : '' }}
                {{ form.value.new != form.value.confirm ? 'Passwords do not match' : '' }}
            </mat-error>
        </mat-form-field>

        <button type="submit" mat-flat-button color="primary">
            {{ loading ? '' : 'submit' }}

            <mat-progress-spinner mode="indeterminate" diameter="30" *ngIf="loading"></mat-progress-spinner>
        </button>
    </form>
</mat-content>