<mat-toolbar color="primary">
    <div class="page-label spacer">
        change password
    </div>

    <button mat-icon-button routerLink="/account">
        <mat-icon>
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>

<form [formGroup]="form" (ngSubmit)="!form.invalid && form.value.new == form.value.confirm && submit()">
    <mat-form-field appearance="outline">
        <mat-label text-uppercase>
            old
        </mat-label>
        
        <input matInput type="password" name="old" placeholder="old" formControlName="old" required>

        <mat-error *ngIf="errors.old">
            {{ errors.old }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label text-uppercase>
            new
        </mat-label>
        
        <input matInput type="password" name="new" placeholder="new" formControlName="new" required>

        <mat-error *ngIf="errors.new">
            {{ errors.new }}
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label text-uppercase>
            confirm
        </mat-label>
        
        <input matInput type="password" name="confirm" placeholder="confirm" formControlName="confirm" required>

        <mat-error *ngIf="errors.confirm || form.value.new != form.value.confirm">
            {{ errors.confirm }}
            {{ (errors.confirm && form.value.new != form.value.confirm) ? ' & ' : '' }}
            {{ form.value.new != form.value.confirm ? 'Passwords do not match' : '' }}
        </mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary">
        submit
    </button>
</form>