.mat-column-icon {
    width: 60px;
    img {
        margin-top: 4px;
    }
}
.mat-column-expiry {
    width: 150px;
}
.mat-column-options {
    width: 40px;
    padding-right: 16px !important;
}
.mat-column-disabled {
    width: 40px;
}
mat-list mat-list-item {
    display: flex;
    align-items: center;
    flex-direction: row;
}
