
form {
    width:  400px;
    margin: auto;
    section {
        display:        flex;
        flex-direction: row;
        mat-form-field {
            flex:   0 calc(50% - 5px);
            width:  calc(50% - 5px);
        }
        mat-form-field:last-child {
            margin-left: 10px;
        }
    }
}
.tariff-container {
    border:             1px solid #E0E0E0;
    display:            flex;
    position:           relative;
    min-width:          50px;
    margin-bottom:      15px;
    border-radius:      4px;
    flex-direction:     column;
    justify-content:    center;
    label {
        top:                -3px;
        left:               5px;
        color:              #616161;
        padding:            0px 3px;
        position:           absolute;
        font-size:          10px;
        line-height:        10px;
        background-color:   #FFFFFF;
    }
    table {
        .more {
            width: 40px;
        }
        .title {
            padding-left: 8px;
        }
    }
    .add-tariff {
        width:  40px;
        margin: auto;
    }
}
@media screen and (max-width: 420px) {
    form {
        width:  calc(100% - 20px);
    }
};