<mat-toolbar *ngIf="authenticated">
    <button mat-icon-button (click)="toggle()">
        <mat-icon>
            menu
        </mat-icon>
    </button>

    <mat-label class="spacer">
        Auth
    </mat-label>

    <button mat-icon-button>
        <mat-icon>
            search
        </mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container [class.minified]="minified" [class.authenticated]="authenticated">
    <mat-drawer mode="side" [opened]="authenticated">
        <mat-list>
            <mat-list-item lines="full" matRipple routerLink="/account" routerLinkActive="active" matTooltip="Account" matTooltipPosition="right">
                <mat-icon>
                    account_box
                </mat-icon>

                <mat-label>
                    Account
                </mat-label>
            </mat-list-item>

            <mat-list-item lines="full" matRipple routerLink="/apps" routerLinkActive="active" matTooltip="Apps" matTooltipPosition="right">
                <mat-icon>
                    apps
                </mat-icon>

                <mat-label>
                    Apps
                </mat-label>
            </mat-list-item>

            <mat-list-item lines="full" matRipple routerLink="/scopes" routerLinkActive="active" matTooltip="Scopes" matTooltipPosition="right">
                <mat-icon>
                    shield
                </mat-icon>

                <mat-label>
                    Scopes
                </mat-label>
            </mat-list-item>

            <mat-list-item lines="full" matRipple routerLink="/tokens" routerLinkActive="active" matTooltip="Tokens" matTooltipPosition="right">
                <mat-icon>
                    vpn_key
                </mat-icon>

                <mat-label>
                    Tokens
                </mat-label>
            </mat-list-item>

            <mat-list-item lines="full" matRipple routerLink="/settings" routerLinkActive="active" matTooltip="Settings" matTooltipPosition="right">
                <mat-icon>
                    settings
                </mat-icon>

                <mat-label>
                    Settings
                </mat-label>
            </mat-list-item>

            <mat-list-item lines="full" matRipple (click)="account.signout()" matTooltip="Sign Out" matTooltipPosition="right">
                <mat-icon>
                    exit_to_app
                </mat-icon>

                <mat-label>
                    Sign Out
                </mat-label>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<splashscreen></splashscreen>