<mat-drawer-container>
    <mat-drawer mode="over">
        <mat-toolbar>
            <img [src]="app.icon" [alt]="app.name" width="42" height="42" draggable="false">

            <label>
                {{ app.name }}
            </label>

            <button type="button" [autofocus]="false" mat-icon-button (click)="menu.close()">
                <mat-icon>
                    close
                </mat-icon>
            </button>
        </mat-toolbar>

        <mat-list>
            <mat-list-item lines="full" routerLink="/account" routerLinkActive="active" matRipple>
                <mat-icon>
                    account_circle
                </mat-icon>

                <label for="account">
                    Account
                </label>
            </mat-list-item>

            <mat-list-item lines="full" routerLink="/apps" routerLinkActive="active" matRipple>
                <mat-icon>
                    apps
                </mat-icon>

                <label for="apps">
                    Apps
                </label>
            </mat-list-item>

            <mat-list-item lines="full" routerLink="/groups" routerLinkActive="active" matRipple>
                <mat-icon>
                    groups
                </mat-icon>

                <label for="groups">
                    Groups
                </label>
            </mat-list-item>

            <mat-list-item lines="full" routerLink="/features" routerLinkActive="active" matRipple>
                <mat-icon>
                    widgets
                </mat-icon>

                <label for="features">
                    Features
                </label>
            </mat-list-item>

            <mat-list-item lines="full" routerLink="/scopes" routerLinkActive="active" matRipple>
                <mat-icon>
                    api
                </mat-icon>

                <label for="scopes">
                    Scopes
                </label>
            </mat-list-item>

            <mat-list-item lines="full" routerLink="/settings" routerLinkActive="active" matRipple>
                <mat-icon>
                    settings
                </mat-icon>

                <label for="settings">
                    Settings
                </label>
            </mat-list-item>

            <mat-list-item lines="full" routerLink="/tips-and-updates" routerLinkActive="active" matRipple>
                <mat-icon>
                    tips_and_updates
                </mat-icon>

                <label for="tips and updates">
                    Tips & Updates
                </label>
            </mat-list-item>

            <mat-list-item lines="full" routerLink="/tokens" routerLinkActive="active" matRipple>
                <mat-icon>
                    token
                </mat-icon>

                <label for="tokens">
                    Tokens
                </label>
            </mat-list-item>

            <!-- <mat-list-item lines="full" routerLink="/users" routerLinkActive="active" matRipple>
                <mat-icon>
                    people
                </mat-icon>

                <label for="users">
                    Users
                </label>
            </mat-list-item> -->

            <mat-list-item lines="full" matRipple (click)="account.signout()">
                <mat-icon>
                    exit_to_app
                </mat-icon>

                <label for="sign out">
                    Sign Out
                </label>
            </mat-list-item>
        </mat-list>

        <mat-version></mat-version>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<splashscreen></splashscreen>