mat-toolbar {
    display: none;
    padding-left: 8px;
    mat-label {
        margin-left: 8px;
    }
    [mat-stroked-button] {
        margin-left: 16px;
    }
}
.no-auth {
    height: 56px;
}
mat-toolbar.authenticated {
    display: flex;
}
mat-drawer-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    mat-toolbar {
        top: 0px;
        left: 0px;
        right: 0px;
        position: fixed;
    }
    mat-drawer {
        width: 300px;
        border: none;
        box-shadow: none;
        transition: width 500ms;
        mat-list {
            mat-list-item {
                height: 56px;
                cursor: pointer;
                outline: none;
                mat-icon {
                    margin-right: 16px;
                }
                mat-label {
                    opacity: 1;
                    transition: opacity 250ms;
                }
            }
            mat-list-item.active {
                color: #2196F3 !important;
                background-color: rgba($color: #2196F3, $alpha: 0.1) !important;
            }
        }
    }
    mat-drawer-content {
        transition: margin 500ms;
    }
}
mat-drawer-container.minified {
    mat-drawer {
        width: 56px;
        mat-list mat-list-item mat-label {
            opacity: 0;
        }
    }
}
mat-drawer-container.authenticated {
    height: calc(100vh - 56px);
    mat-drawer-content {
        height: auto;
    }
}
@media screen and (max-width: 300px) {
    mat-drawer-container mat-drawer {
        width: 100% !important;
    }
}
