mat-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
        margin: 20px 0px;
    }
    p {
        padding: 0px 10px;
        font-size: 12px;
        text-align: justify;
        line-height: 16px;
        a {
            color: #2196F3;
        }
    }
    form, p {
        max-width: 400px;
    }
}